@import "tailwindcss";

@theme {
  --font-display: "IBM Plex Mono", monospace; 
  --color-bg-button: #2b2b2b;

}

.container-1{
    @apply max-w-[1400px] mx-auto;
}

.nav-grid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
    align-items: center; 
  grid-template-areas:
    "logo list cta";
}

.logo { grid-area: logo; }

.list { grid-area: list; }

.cta { grid-area: cta; 
  justify-self: end; 
}

.cta-button-primary{
    @apply bg-bg-button hover:bg-yellow-300 px-8 py-3 rounded-full transition-all delay-75 ease-linear
}

.cta-button-secondary{
    @apply hover:bg-bg-button px-8 py-3 rounded-full transition-all delay-75 ease-linear
}